#img1 .item {
    color: #FFF;
    text-align: center;
    margin: 1px;
}

#img1 .item img {
    object-fit: contain;
    height: 32vw;
}

#img2 .item {
    background: #C9C9C9;
    margin: 5px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

#img2 .item img {
    object-fit: cover;
    height: 6vw;
}

#img2 .item h1 {
    font-size: 18px;
}

#img2 .current .item {
    padding: 0.5vw 0vw;
    background: #f80000;
}

.owl-theme .owl-nav [class*='owl-'] {
    transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

#img1.owl-theme {
    position: relative;
}

#img1.owl-theme .owl-next,
#img1.owl-theme .owl-prev {
    width: 22px;
    height: 30px;
    margin-top: -20px;
    position: absolute;
    top: 15.5vw;
}

#img1.owl-theme .owl-prev {
    left: 10px;
}

#img1.owl-theme .owl-next {
    right: 10px;
}

#sync1 .item {
    background-color: #FFFFFF;
    color: #FFF;
    text-align: center;
    margin: 1px;
}

#sync1 .item img {
    object-fit: cover;
    height: 27vw;
}

#sync2 .item {
    background: #C9C9C9;
    margin: 5px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

#sync2 .item img {
    object-fit: cover;
    height: 7vw;
}

#sync2 .item h1 {
    font-size: 18px;
}

#sync2 .current .item {
    padding: 0.5vw 0vw;
    background: #f80000;
}

.owl-theme .owl-nav [class*='owl-'] {
    transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

#sync1.owl-theme {
    position: relative;
}

#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
    width: 22px;
    height: 30px;
    margin-top: -20px;
    position: absolute;
    top: 15.5vw;
}

#sync1.owl-theme .owl-prev {
    left: 10px;
}

#sync1.owl-theme .owl-next {
    right: 10px;
}