.holder {
    margin: 15px 0;
}

.holder a {
    font-size: 12px;
    cursor: pointer;
    margin: 0 5px;
    color: gray;
}

.holder a:hover {
    color: #f80000;
}

.holder a.jp-previous {
    margin-right: 15px;
    color: gray;
    text-decoration: none;
}

.holder a.jp-next {
    margin-left: 15px;
    color: gray;
    text-decoration: none;
}

.holder a.jp-current,
a.jp-current:hover {
    color: #f80000;
    font-weight: bold;
    text-decoration: none;
}

.holder a.jp-disabled,
a.jp-disabled:hover {
    color: black;
    cursor: none;
    text-decoration: none;
}

.holder a.jp-current,
a.jp-current:hover,
.holder a.jp-disabled,
a.jp-disabled:hover {
    cursor: default;
    background: none;
}

.holder span {
    margin: 0 5px;
}